$primary-dark: #000;
$primary-white: #fff;
$primary-light-green: #81eb86;
$primary-dark-gray: #071407;
$primary-green: #142f15;
$primary-sunflower: #dfd72a;
$primary-pear: #e0e938;
$primary-salad: #62a15a;
$primary-sea-green: #095958;
$primary-racing-green: #111810;
$primary-magenta: #ff00d0;
$primary-purple: #d94eef;
$primary-blue-violet: #6a32eb;
