@use './variables' as *;
@use './normalize';
@use './swiper';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $primary-dark;
}

ul {
    list-style-type: none;
}

.container {
    padding: 100px;
    width: 100%;
}
