@use '../../styles/scss/variables' as *;
.wrapper {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    position: absolute;
    .container {
        padding: 20px;
        max-width: 1200px;
        width: 100%;
        background: $primary-dark-gray;
        border: 1px solid $primary-light-green;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        h1 {
            text-align: center;
            color: $primary-white;
            height: 100%;
        }
    }
    .list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .anime {
            display: flex;
            flex-direction: row;
            gap: 40px;
            border-radius: 15px;
            cursor: pointer;
            &:hover {
                background: $primary-green;
            }
            .info {
                flex: 1 0 0;
                color: $primary-white;
                display: flex;
                flex-direction: column;
                h3 {
                    text-transform: uppercase;
                    font-size: 30px;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                h2 {
                    font-weight: 100;
                    font-size: 20px;
                }
            }
        }
    }
    .grid {
        max-width: 1200px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 20px;
        &:first-child {
            grid-column: 1/-1;
        }
    }
}
