@use '../../styles/scss/variables' as *;
.navigation {
    ul {
        display: flex;
        flex-direction: row;
        gap: 50px;
        text-transform: uppercase;
        color: $primary-white;
        li {
            padding: 0 10px;
            height: 70px;
            cursor: pointer;
            transition: all 0.2s ease;
            border-radius: 10px;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: $primary-white;
            }
            &:hover {
                background: $primary-dark;
                a {
                    color: $primary-light-green;
                }
            }
        }
    }
}
