@use '../../styles/scss/variables' as *;

.filter {
    padding: 10px;
    max-width: 300px;
    width: 100%;
    min-height: 300px;
    background: $primary-dark-gray;
    position: sticky;
    align-self: flex-start;
    top: -10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3 {
        color: $primary-white;
        font-size: 28px;
    }
    .genres {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        li {
            cursor: pointer;
            padding: 5px;
            color: $primary-white;
            opacity: 0.6;
            border: 1px solid $primary-white;
            transition: 0.2s ease;
            &:hover {
                opacity: 1;
                background: $primary-white;
                color: $primary-dark-gray;
            }
        }
        li.active {
            opacity: 1;
            background: $primary-light-green;
            border: 1px solid $primary-light-green;
            color: $primary-dark-gray;
        }
    }
}
